<%= form_with(model: payload, class: "contents") do |form| %>
  <% if payload.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(payload.errors.count, "error") %> prohibited this payload from being saved:</h2>

      <ul>
        <% payload.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :data %>
    <%= form.text_area :data, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", rows: 10 %>
  </div>

  <div class="my-5 border border-gray-400 border-dotted rounded-lg px-4 py-2">
    <h3 class='text-lg font-bold'>Expect:</h3>
    <label for="expect_success" class="inline-flex items-center space-x-4 cursor-pointer text-slate-600">
      <span>Error</span>
      <span class="relative transition-all">
        <%= check_box_tag :expect_success, true, true, {id: 'expect_success', class: 'hidden peer'} %>
        <div class="w-10 h-6 rounded-full shadow-inner bg-red-300 peer-checked:bg-green-400"></div>
        <div class="absolute inset-y-0 left-0 w-4 h-4 m-1 rounded-full shadow peer-checked:right-0 peer-checked:left-auto bg-white"></div>
      </span>
      <span>Success</span>
    </label>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
