<h1>Select Endpoint</h1>

<%= form_tag new_payload_path, method: :get, data: { controller: 'autosubmit', turbo_frame: 'endpoints' } do %>
    <%= text_field_tag 'query', nil, data: { action: "autosubmit#debouncedSubmit", "autosubmit-target": "queryField"}, class: 'rounded-sm mb-4' %>
    <%= hidden_field_tag :endpoint_id, '', id: "endpoint_id" %>
    <%= turbo_frame_tag 'endpoints' do %>
        <div>
            <% collection_select(:endpoint, :id, @endpoints, :id, :name, {}, { class: 'w-full block bg-red-200' } ) if !@endpoints.empty? %>

            <% if true then %>
            <ul>
                <% @endpoints.each do |endpoint| %>
                    <li data-action= "click->autosubmit#triggerSelect" data-val=<%= endpoint.id %> class='bg-orange-200 rounded-sm shadow py-2 hover:opacity-90 hover:cursor-pointer'><%= endpoint.name %></li>
                    <li data-action="click->handle-hidden#hansdle" data-handle-hidden-value='<%= endpoint.id %>'><%= endpoint.name %></li>
                <% end %>
            </ul>
            <% end %>
            
            
            <% if @endpoints.none?  %>
                <a class='px-2 py-4 bg-amber-300 block w-full rounded-md shadow-md hover:cursor-pointer' data-action="click->autosubmit#resetForm">None... Reset your search</div>
            <% end %>
        </div>
    <% end %>
<% end %>
