<div id="<%= dom_id endpoint %>" class='mb-4 px-6 py-3 shadow-xl rounded-lg'>
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= endpoint.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= endpoint.url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= endpoint.description %>
  </p>

    <%= link_to 'Edit this endpoint', edit_endpoint_path(endpoint), class: "rounded-lg py-3 ml-2 px-5 border border-purple-300 bg-purple-50 inline-block font-medium hover:bg-purple-200" %>
    <%= link_to 'Delete this endpoint', edit_endpoint_path(endpoint), class: "rounded-lg py-3 ml-2 px-5 border border-red-300 bg-red-50 inline-block font-medium hover:bg-red-200" %>
</div>