<div id="<%= dom_id endpoint %>" class='mb-4 px-6 py-3 shadow-xl rounded-lg'>
  
  <h1><%= endpoint.name %></h1>

  <%= turbo_frame_tag 'url' do %>
    <%= link_to edit_single_field_endpoint_path(endpoint) do %>
        <strong class="inline-block font-medium mb-1"> <%= inline_svg 'url', class: "w-6 h-6 p-1 rounded-lg bg-emerald-400 inline" %></strong>
        <%= endpoint.url %>
    <% end %>
  <% end %>


  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= endpoint.description %>
  </p>

    <%= link_to 'Edit this endpoint', edit_endpoint_path(endpoint), class: "rounded-lg py-3 ml-2 px-5 border border-purple-300 bg-purple-50 inline-block font-medium hover:bg-purple-200" %>
    <%= link_to 'Delete this endpoint', edit_endpoint_path(endpoint), class: "rounded-lg py-3 ml-2 px-5 border border-red-300 bg-red-50 inline-block font-medium hover:bg-red-200" %>
</div>