<%= form_with(model: endpoint, class: "contents") do |form| %>
    <% if endpoint.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(endpoint.errors.count, "error") %> prohibited this endpoint from being saved:</h2>

        <ul>
            <% endpoint.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>


    <% if field == :name %>
        <div class="my-5">
            <%= form.label :name %>
            <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
        </div>
        <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    <% end %>


    <% if field == :url %>
        <div class="flex items-center gap-2 font-medium my-1">
            <%= inline_svg 'url', class: "w-6 h-6 p-1 rounded-lg bg-emerald-400 block" %>
            <%= form.text_field :url, rows: 1, class: "border-b border-gray-400 focus:border-blue-500 focus:outline-none mr-2 flex-1 rounded-sm border-none" %>
            <%= button_tag( :class => "bg-green-100 hover:bg-green-200 p-4 rounded-md") do %>
                <%= inline_svg 'check.svg' %>
            <% end %>
        </div>
    <% end %>



    <% if field == :description %>
    <div class="my-5">
        <%= form.label :description %>
        <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    <% end %>

   




    
<% end %>