<%= form_with(model: endpoint, class: "contents") do |form| %>
    <% if endpoint.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(endpoint.errors.count, "error") %> prohibited this endpoint from being saved:</h2>

        <ul>
            <% endpoint.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>


    <% if field == :name %>
        <div class="flex items-center gap-2 my-1">
            <%= inline_svg 'name', class: "w-10 h-10 p-1 inline bg-orange-200 hover:bg-orange-100 shadow-lg hover:shadow" %>
            <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full text-3xl" %>
            <%= single_field_confirm_btn %>
        </div>
    <% end %>


    <% if field == :url %>
        <div class="flex items-center gap-2 font-medium my-1">
            <%= inline_svg 'url', class: "w-6 h-6 p-1 rounded-lg bg-emerald-400 block" %>
            <%= form.text_field :url, rows: 1, class: "border-b border-gray-400 focus:border-blue-500 focus:outline-none mr-2 flex-1 rounded-sm border-none" %>
            <%= single_field_confirm_btn %>
        </div>
    <% end %>


    <% if field == :description %>
        <div class="flex items-center gap-2 font-medium my-1">
            <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
            <%= single_field_confirm_btn %>
        </div>
    <% end %>
    
<% end %>