<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing single</h1>

  <%= turbo_frame_tag :name do %>
    <%= render "single_field_form", endpoint: @endpoint, field: :name %>
  <% end %>

  <%= turbo_frame_tag :url do %>
    <%= render "single_field_form", endpoint: @endpoint, field: :url %>
  <% end %>


  <%= turbo_frame_tag :description name do %>
    <%= render "single_field_form", endpoint: @endpoint, field: :description %>
  <% end %>
</div>
